src/*.exe
src/tehcoin
src/tehcoind
src/test_tehcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.tehcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
tehcoin-qt
TehCoin-Qt.app

# Unit-tests
Makefile.test
tehcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
